.visasaukstis {
    height: 800px;
}
.spalva1 {
    background-color: blue;
}
.spalva61 {
    background-color: blue;
}
.spalva2 {
    background-color: blue;
}
.virsutinis {
    height: 400px;
}
.virsus1 {
    background-color: blue;
    height: 100px;
}
.apatcia1 {
    background-color: blue;
    height: 290px;
}
.virsutinisdesine {
    height: 400px;
}
.virsutinieskaire {
    background-color: blue;
    height: 395px;
}
.apatinis1 {
    background-color: blue;
    height: 195px;
}
.apatinis2 {
    background-color: blue;
    height: 195px;
}